<div>
  <div class="row" style="margin-top: 40px;">
      <div class="col-xs-12 footer">
          <hr class="shaded">
          <div class="col-xs-12">
            <p style="padding: 20px;">
              <strong>Disclaimer:</strong><br/>
              MetaRouter Cloud leverages code from several of <a href="https://segment.com" target="_blank">Segment's</a> fabulous library of open-source tools, including their <a href="https://segment.com/docs/sources/" target="_blank">source SDKs</a>, <a href="https://segment.com/docs/destinations" target="_blank">destinations</a>, and core <a href="https://segment.com/docs/sources/website/analytics.js/" target="_blank">Analytics.js</a> library. As some of the core configurations outlined in our docs are largely identical to Segment's, we often re-purpose, and in some cases copy, directly from Segment's docs. In the cases where we have forked Segment's tools, we acknowledge and attribute all credit to Segment for their creation and subsequent documentation.
            </p>
          </div>
      </div>
  </div>
</div>
